<% if @current_user %>
  <h3>
    You are logged in as <%= @current_user.email %>
  </h3>

  <h3>Other Users</h3>
  <% @users.each do |u| %>
    <% if u.name != @current_user.name %>
    <p>
      <%= link_to(u.name, user_path(u)) %>
    </p>
    <% end %>
  <% end %>

<% else %>
<h3>All Users</h3>
<% @users.each do |u| %>
  <p>
    <%= link_to(u.name, user_path(u)) %>
  </p>
<% end %>

<% end %>
