// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
    background-color: #A18FE0;
}

body.pages.home {
  background-color: #FFEEE6;
  height: 1500px;
}

.wrapper-quote{
  margin-top: 30px;
  // border: 1px solid black;
  height: 80vh;
  padding-top: 15vh;
  background-image: url(background5.gif);
  background-size:cover;
}

.quotes{
  text-align: center;
  font-size: 32px;
  padding: 0px 50px;
  margin-bottom: 0px;
}

.quotes2{

  text-align: center;
  font-size: 22px;
  padding: 0px 50px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.wrapper {
  margin-top: 2vh;
  text-align: center;
}

.intro{

  margin-top: 35px;
  background-color: rgba(255,255,255,0.6);
  padding: 20px 20px 20px 20px;
}

.icon{
  padding-top: -5px;
  width: 80px;
  height: 80px;
}

.description{
  display: inline-block;

}


.description_details{
  margin-left: 90px;
}

button{

  background-color: white;
}

.button-value a{
  color:#241623;
  
}
